.header, .first, .footer {
    background-color: #1f2937;
}
h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}
.header, .first, button, .footer {
    font-size: 18px;
    color: #e5e7eb;
}
h3 {
    font-size: 24px;
    color: #f9faf8;
}
button, .fourth {
    background-color: #3882f6;
}
h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}
.third {
    background-color: #e5e7eb;
}
.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}